<div class="box-body">
    <div class="form-group">
        <label>评论同步URL</label>
        <input class="form-control" name="duzhi_duoshuo_json"
               value="${OPTION('duzhi_duoshuo_json')!}"/>
    </div>
    <div class="form-group">
        <label>评论短域名</label>
        <input class="form-control" name="duzhi_duoshuo_shortName"
               value="${OPTION('duzhi_duoshuo_shortName')!}"/>
    </div>
    <div class="form-group">
        <label>评论密钥</label>
        <input class="form-control" name="duzhi_duoshuo_secret"
               value="${OPTION('duzhi_duoshuo_secret')!}"/>
    </div>
</div>

