::-webkit-scrollbar-thumb,.nicescroll-rails div{background-color:#00d6ac !important;}
::selection{background:#51aded;color:#fff}
body,.cms-bar .col-right.s4 .col-small p:before{color:#666}
body a,.bg-sitenews i.fa-volume-up,.tab-item-comment i,.tab-item-comment i:before,.catlist_1_of_2 .home-heading a,.widget_tinsitestatistic ul li span,.comment-login-pop-click,.comment-info span.cmt-vote i.voted{color:#428bca}
.tin-tabs-nav li.active a{border-bottom-color:#428bca}
.home-heading a,#sidebar #submit-mail:hover{background: #428bca}
body a:hover{color:#51ADED}
article h3,article h3 a,.tab-item-title a,.slider-text h2 a{color:#000}
article h3 a:hover,.tab-item-title a:hover,.more-link,.slider-text h2 a:hover,.slider-newest-articles h3 a:hover{color:#51ADED}
.header-wrap,.pri-nav ul,.pri-nav ul ul,.pri-nav ul ul ul,.user-tabs{background-color:#fff}
.logo-title a{color:#888}
.pri-nav li > a,.pri-nav li.current-menu-item a,#focus-us,.focus-content a,.user-tabs span a,.user-tabs span i{color:#333}
.pri-nav li a:hover, .user-tabs span:hover, #focus-us:hover, #focus-us:focus, #focus-slide{background:#f5f5f5}
.pri-nav li > a:hover,.pri-nav li:hover > a, .pri-nav li.focus > a,.user-tabs span:hover a,.user-tabs span:hover i,#focus-us:hover, #focus-us:focus,.user-tabs span:hover,.user-tabs span:hover i,.login-yet-click a,.login-yet-click a:hover,.focus-content a:hover,.logo-title a:hover{color:#51ADED}
.pri-nav ul ul,.pri-nav a:hover,.pri-nav li.current-menu-item a{border-bottom-color:#51ADED}
.logo a img{background-color:#51ADED}
#sidebar .widget > h3 span, .floatwidget h3 span, .multi-border-hl span,.tin-tabs-nav li.active a,.cms-bar .heading-text, .heading-text-blog,.cms-bar .stickys .heading-text-cms.active,span#comments.active, span#comments_quote.active,#ft-wg-sr .widget > h3 span{border-bottom-color:#f98181}
.tin-tabs-nav li a:hover{color:#f98181}
@media screen and (max-width: 860px) and (min-width:641px){
    #flexslider-right{background:#e8e8e8}
}
@media screen and (max-width: 480px){
    h3,h3 a{font-size:12px !important;}
    article p,.content,.content a,.content li,single-content,single-text,single-content a,single-text a,.sg-cp p,.widget,.widget a{font-size:10px !important;}
}
/* http://prismjs.com/download.html?themes=prism&languages=markup+css+clike+javascript */
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */

code[class*="language-"],
pre[class*="language-"] {
    color: black;
    text-shadow: 0 1px white;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;

    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;

    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
    text-shadow: none;
    background: #b3d4fc;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
    text-shadow: none;
    background: #b3d4fc;
}

@media print {
    code[class*="language-"],
    pre[class*="language-"] {
        text-shadow: none;
    }
}

/* Code blocks */
pre[class*="language-"] {
    padding: 1em;
    margin: .5em 0;
    overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
    background: #f5f2f0;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
    padding: .1em;
    border-radius: .3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: slategray;
}

.token.punctuation {
    color: #999;
}

.namespace {
    opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
    color: #905;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
    color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
    color: #a67f59;
    background: hsla(0, 0%, 100%, .5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
    color: #07a;
}

.token.function {
    color: #DD4A68;
}

.token.regex,
.token.important,
.token.variable {
    color: #e90;
}

.token.important,
.token.bold {
    font-weight: bold;
}
.token.italic {
    font-style: italic;
}

.token.entity {
    cursor: help;
}

.home-heading  span i {
    color: white;
    background-color: #00a65a;
    padding-right: 8px;
    padding-left: 8px;
    padding-top:3px;
    padding-bottom:3px;
    margin-right: 5px;
}
.widget .duzhi_site_links a{
    padding: 5px 5px 5px 5px ;
}
.single-text img{
    padding: 4px;
    line-height: 1.428571429;
    background-color: #ffffff;
    border: 2px solid #00aeef;
    border-radius: 4px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.widget  span i {
    color: white;
    background-color: #00a65a;
    padding-right: 8px;
    padding-left: 8px;
    padding-top:3px;
    padding-bottom:3px;
    margin-right: 5px;
}

.breadcrumb li{
    display: inline;
}
.breadcrumb > li + li:before {
    color: #8ba7ba;
    content: "/ ";
    padding: 0 5px;
}