<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h3>您好：</h3>
<p>您刚从<a href="http:www.duzhi.me">{DUZHI}</a> 创建了一份密码重置请求，我们已经为您更新，密码如下，请谨记，或重新登录后修改为方便您记忆的密码。</p>
<h2 style="padding-left: 30px;"><span style="color: #ff0000;">${password}</span></h2>
<p><a href="http://www.duzhi.me/user/login.html?from=mail">重新登录</a></p>
<p>请注意保密，谢谢，如有疑问，请联系&ldquo;<a href="mailto:mail:ashang.peng@aliyun.com" target="_blank">ashang.peng@aliyun.com</a>&rdquo;
</p>
<p>读之团队欢迎您的再次光临</p>
<p>&nbsp;</p>
<@jp.contents module="article" count="4" >
<ul>
    <#list contents as content>
        <li>
            <a href="https://www.duzhi.me/${content.url}">${content.title}</a>
        </li>
    </#list>
</ul>
@jp.contents>
</body>
</html>