<div class="login-yet-click">
    <div class="login-yet-click-inner">
        <img width="35" height="35" class="avatar avatar-35 photo" alt="" src="${CTPATH}images/qrcode_for_gh_1233eeff1166_258.jpg" srcset="${CTPATH}/images/qrcode_for_gh_1233eeff1166_258.jpg">
        <a title="用户管理" href="">${_USER.nickname!_USER.username}</a>
        <!--<a title="新消息" class="new-message-notify" href="http://duzhi.me/author/duzhi?tab=message"></a>-->
    </div>
    <div class="user-tabs" style="display: none;">
        <span><i class="fa fa-heart"></i>&nbsp;<a title="我的收藏" href="#">我的收藏</a></span>
        <span><i class="fa fa-envelope"></i>&nbsp;<a title="站内消息" href="#">站内消息</a></span>
        <span><i class="fa fa-cog"></i>&nbsp;<a title="编辑资料" href="#">编辑资料</a></span>
        <span><i class="fa fa-sign-out"></i>&nbsp;<a title="注销登录" href="/member/loginout">注销登录</a></span>
    </div>
</div>