<div class="box-body">
    <div class="form-group">
        <label for="duzhi_wechat_url">微信</label>
        <input class="form-control" name="duzhi_wechat_url" id="duzhi_wechat_url"
               value="${OPTION('duzhi_wechat_url')!}"/>
        <p class="help-block">请输入微信</p>
    </div>
    <div class="form-group">
        <label for="duzhi_weibo_url">微博</label>
        <input class="form-control" name="duzhi_weibo_url" id="duzhi_weibo_url"
               value="${OPTION('duzhi_weibo_url')!}"/>
        <p class="help-block">请输入微博URL</p>
    </div>
    <div class="form-group">
        <label for="duzhi_weibo_url">QQ List</label>
        <input class="form-control" name="duzhi_weibo_url" id="duzhi_qqlist"
               value="${OPTION('duzhi_qqlist')!}"/>
        <p class="help-block">如没有，请从<a href="http://list.qq.com/"> http://list.qq.com/ </a>获取</p>
    </div>
    <div class="form-group">
        <label for="duzhi_qq_url">QQ</label>
        <input class="form-control" name="duzhi_qq_url" id="duzhi_qq_url" value="${OPTION('duzhi_qq_url')!}"/>
        <p class="help-block">如没有，请从<a href="http://list.qq.com/"> http://www.qq.com/ </a>申请</p>
    </div>
    <div class="form-group">
        <label for="duzhi_rss_url">RSS</label>
        <input class="form-control" name="duzhi_rss_url" id="duzhi_rss_url" value="${OPTION('duzhi_rss_url')!}"/>
        <p class="help-block">默认填写：www.duzhi.me/feed</p>
    </div>
    <div class="form-group">
        <label for="duzhi_contact">联系方式</label>
        <input class="form-control" name="duzhi_contact" id="duzhi_contact" value="${OPTION('duzhi_contact')!}"/>
        <p class="help-block">填写您的手机号码电话号码</p>
    </div>
</div>