<div class="box-body">
    <div class="form-group">
        <label>评论选型</label>
        <input class="form-control" name="dz_comments_select"
               value="${OPTION('dz_comments_select')!}"/>
        <p class="help-block">标记为0,启用畅言</p>
    </div>

    <div class="form-group">
        <label>评论同步URL</label>
        <input class="form-control" name="duzhi_duoshuo_json"
               value="${OPTION('duzhi_duoshuo_json')!}"/>
    </div>
    <div class="form-group">
        <label>评论短域名</label>
        <input class="form-control" name="duzhi_duoshuo_shortName"
               value="${OPTION('duzhi_duoshuo_shortName')!}"/>
    </div>
    <div class="form-group">
        <label>评论密钥</label>
        <input class="form-control" name="duzhi_duoshuo_secret"
               value="${OPTION('duzhi_duoshuo_secret')!}"/>
    </div>

    <div class="form-group">
        <label>畅言APP ID</label>
        <input class="form-control" name="dz_changyan_APP_ID"
               value="${OPTION('dz_changyan_APP_ID')!}"/>
    </div>
    <div class="form-group">
        <label>畅言APP KEY</label>
        <input class="form-control" name="dz_changyan_APP_KEY"
               value="${OPTION('dz_changyan_APP_KEY')!}"/>
    </div>

</div>

