<footer id="footer-nav-wrap">
    <div id="footer-nav" class="layout-wrap">
        <div id="footer-nav-left">
            <!-- Footer Nav -->
            <!-- /.Footer Nav -->
            <!-- Copyright -->
            <div id="footer-copyright">© 2016 - 2016 All Rights Reserved | Theme by 
                <a href="http://www.duzhi.me" target="_blank">犊子@duzhi.me</a>.
                 | <a href="http://www.miitbeian.gov.cn/"
                      target="_blank">${OPTION('web_icp_number')!}</a><img
                        src="https://imgcache.qq.com/qcloud/security/dayu/static/dns-url/web.png"
                        width="50px"/>
                 <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1261031304'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/z_stat.php%3Fid%3D1261031304%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
            </div>
            <!-- /.Copyright -->
        </div>
        <div id="footer-nav-right">
            <!--  links -->
            <div id="footer-links-icons">
		<span class="footer-wordpress-link">
		<a href="http://Jpress.io" target="_blank" class="wordpress">
			<span class="tinicon-wordpress"><i class="fa fa-wordpress"></i></span>
			<br>JPress
		</a>
	</span>
                <span class="footer-sinaweibo-link">
		<a href="${OPTION('duzhi_weibo_url')!}" target="_blank" class="sinaweibo">
			<span class="tinicon-sinaweibo"><i class="fa fa-weibo"></i></span>
			<br>Weibo
		</a>
	</span>

                <span class="footer-qq-link">
		<a href="http://wpa.qq.com/msgrd?v=3&uin=${OPTION('duzhi_qq_url')!}&site=qq&menu=yes" target="_blank" class="qq">
			<span class="tinicon-qq"><i class="fa fa-qq"></i></span><br>QQ
		</a>
	</span>


                <span class="footer-rss-link">
		<a href="${OPTION('web_domain')}/sitemap" target="_blank" class="rss">
			<span class="tinicon-rss"><i class="fa fa-rss"></i></span>
			<br>RSS
		</a>
	</span>
                <span class="footer-newsletter-link">
		<a href="#" target="_blank" class="newsletter">
			<span class="tinicon-newsletter"><i class="fa fa-envelope"></i></span>
			<br>Newsletter
		</a>
	</span>

            </div>
            <!-- /.links -->
            <div class="clear clr"></div>
        </div>
    </div>
</footer>